<!DOCTYPE html>
<html lang="en">
  <%- include('../includes/head.ejs') %>

  <body>
    <%- include('../includes/navigation.ejs') %>
    <div class="product-detail">
      <h1><%= prod.title%></h1>

      <img src="<%= prod.imageUrl%>" alt="<%= prod.title%>" />
      <p>$<%= prod.price%></p>
      <p><%= prod.description%></p>
      <form action="/cart" method="post">
        <input type="submit" value="Add to Cart" class="btn" />
        <input type="hidden" value="<%= prod.id%>" name="productId" />
        <input type="hidden" value="<%= prod.title%>" name="title />

      </form>
    </div>
  </body>
</html>
